.main {
  //Basic index styles.
  // frozen properties ------------------
  @include display-flex();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  margin:180px 2% 2%;
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: inherit;
  color: white;
  vertical-align: baseline;
  .notconnected {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .stats {
    @include display-flex();
    @include flex();
    @include flex-direction(column);
    @include justify-content(center);
    margin: 5%;
    width: 25%;
    div {
      @include display-flex();
      @include flex();
      @include flex-direction(row);
      @include justify-content(space-between);
      @include align-items(center);
      min-width: 250px;
      .name, .number {
        @include display-flex();
        @include flex();
        @include justify-content(center);
        margin: 5px;
      }
      .name {
        font-weight: bold;
      }
      .number {
        font-style: italic;
      }
    }
  }
  //Register Index style.
  .tripbox {
    @include display-flex();
    @include flex();
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);
    width: 60%;
    .triplist {
      @include display-flex();
      @include flex(1);
      @include flex-direction(column);
      @include justify-content(space-between);
      @include align-items(center);
      padding: 1.4rem;
      height: 100%;
      ul {
        @include display-flex();
        @include flex();
        @include flex-direction(column);
        @include justify-content(space-between);
        @include align-items(center);
        margin: 1rem;
        height: 100%;
        width: 100%;
        li {
          @include display-flex();
          @include flex();
          @include flex-direction(row);
          @include justify-content(space-between);
          @include align-items(center);
        }
      }
    }
    .trip_by_campus_form {
      @include display-flex();
      @include flex(1);
      @include flex-direction(column);
      @include justify-content(space-between);
      @include align-items(center);
      height: 100%;
      margin: 0.5rem;
      span {
        @include display-flex();
        @include flex(1);
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(center);
      }
      form {
        @include display-flex();
        @include flex(1);
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);
        width: auto;
        label {
          @include display-flex();
          @include flex(1);
          @include flex-direction(row);
          @include justify-content(space-between);
          @include align-items(center);
          span {
            @include display-flex();
            @include flex(1);
            @include flex-direction(row);
            @include justify-content(flex-end);
            @include align-items(center);
          }
          input {
            @include display-flex();
            @include flex(1);
            @include flex-direction(row);
            @include justify-content(space-between);
            @include align-items(center);
          }
        }
      }
    }
  }

  .booktrip {
    @include display-flex();
    @include flex();
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-items(center);
    height: 100%;
    width: 100%;
    margin: 0.5rem;
    // This image will take 100% of the height and the same width of the link block.
    .image {
      @include display-flex();
      @include flex(1);
      height: 100%;
    }
    a {
      @include display-flex();
      @include flex();
      @include flex-direction(column);
      @include justify-content(space-between);
      @include align-items(center);
    }
    form {
      @include display-flex();
      @include flex();
      @include flex-direction(column);
      @include justify-content(space-between);
      @include align-items(center);
      height: 100%;
      width: 100%;
      margin: 0.5rem;
      }
  }
}
