header {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(space-between);
  @include align-items(center);
  @include flex(1);
  width: 100%;
  min-height: 150px;
  height: 100%;
  color: #b2c5c9;
  margin: 0.5rem;
  input {
    border: 1px groove #f2f3f5;
    background-color: #112E3C;
    color: inherit;
    &:required {
      background-color: inherit;
    }
    &:invalid:after, &:invalid:focus {
      background-color: #A52A2A;
    }
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .banner  {
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);
    @include flex(1);
    width: 100%;
    height: 90%;
    .logo {
        @include display-flex;
        /* logo should take 25% of titles width éstablé */
        @include flex-direction(column);
        @include align-self(stretch);
        @include flex(0.5);
        background: url("../../images/logo.png") center center no-repeat;
        background-size: contain;
    }
    .titles {
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(space-between);
      @include align-items(center);
      @include flex(1);
      height: 100%;
      h1 {
        @include flex(1);
        font-weight: bold;
        font-size: 4rem;
        color: #93A6BA;
        font-family: $main-title;
        padding: 0.9rem;
      }
      h2 {
        @include flex(1);
        font-style: italic;
        font-size: 1.8rem;
        font-family: $main-stitle;
      }
    }
    .connectic, .connected {
      /* connectic should take 25% of titles width */
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(space-between);
      @include align-items(center);
      @include flex(0.5);
      span {
        padding: 0.2rem;
      }
      form {
          @include display-flex;
          @include justify-content(space-between);
          @include align-items(center);
          @include flex-direction(column);
          label, div {
            @include display-flex;
            @include flex-direction(row);
            @include justify-content(space-between);
            @include align-items(center);
            padding: 0.1rem;
          }
          input[type=submit], button {
            font-size: 100%;
            color: inherit;
            background-color: #143345;
            border: none;
            margin: 0 0.2rem;
          }
      }
    }
  }
  nav {
    @include display-flex();
    @include flex();
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-items(center);
    width: 90%;
    height: 10%;
    ul {
      @include display-flex();
      @include flex();
      @include flex-direction(row);
      @include justify-content(space-between);
      @include align-items(center);
      height: 100%;
      width: 100%;
      li {
        @include display-flex();
        @include flex();
        @include flex-direction(row);
        @include justify-content(space-between);
        @include align-items(center);
        width: 100%;
        a {
          @include display-flex();
          @include flex();
          @include flex-direction(row);
          @include justify-content(space-between);
          @include align-items(center);
          margin: 0; padding: 0;
          font-style: italic;
          color: red;
        }
        form {
          @include display-flex();
          @include flex();
          @include flex-direction(row);
          @include justify-content(space-between);
          @include align-items(center);
          font-style: italic;
          input {
              @include display-flex();
              @include flex();
              @include flex-direction(row);
              @include justify-content(space-between);
              @include align-items(center);
              min-width: 25ex;
              width: 90%;
              color: inherit;
              font: inherit;
          }
        }
      }
    }
  }
}
