header {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(space-between);
  @include align-items(center);
  height: 100%;
  width: 100%;
  .banner  {
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);
    width: 100%;
    height: 90%;
    .logo {
        @include display-flex;
        /* logo should take 25% of titles width */
        @include flex(0.5);
        min-height: 100px;
        height: 100%;
    }
    .titles {
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(space-between);
      @include align-items(center);
      @include flex(1);
      height: 100%;
      h1 {
        font-weight: bold;
        font-size: 2rem;
        font-color: red;
      }
      h2 {
        font-style: italic;
        font-size: 1.8rem;
        color: green;
      }
    }
    .connectic, .connected {
      /* connectic should take 25% of titles width */
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(space-between);
      @include align-items(center);
      @include flex(0.5);
      span {
          font-color: green;
      }
      form {
          @include display-flex;
          @include justify-content(space-between);
          @include align-items(center);
          @include flex-direction(column);
          label, div {
            @include display-flex;
            @include flex-direction(row);
            @include justify-content(space-between);
            @include align-items(center);
          }
          input[type=submit], button {
            font-size: 100%;
          }
      }
    }
  }
  nav {
    @include display-flex();
    @include flex();
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-items(center);
    width: 90%;
    height: 10%;
    ul {
      @include display-flex();
      @include flex();
      @include flex-direction(row);
      @include justify-content(space-between);
      @include align-items(center);
      height: 100%;
      width: 100%;
      li {
        @include display-flex();
        @include flex();
        @include flex-direction(row);
        @include justify-content(space-between);
        @include align-items(center);
        width: 100%;
        a {
          @include display-flex();
          @include flex();
          @include flex-direction(row);
          @include justify-content(space-between);
          @include align-items(center);
          margin: 0; padding: 0;
          font-style: italic;
          color: red;
        }
        form {
          @include display-flex();
          @include flex();
          @include flex-direction(row);
          @include justify-content(space-between);
          @include align-items(center);
          font-style: italic;
          input[type="text"] {
              @include display-flex();
              @include flex();
              @include flex-direction(row);
              @include justify-content(space-between);
              @include align-items(center);
              min-width: 25ex;
              width: 90%;
          }
        }
      }
    }
  }
}
