a {
  min-height: 1.5ex;
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
    text-decoration: underline;
  }
}

.hidden {
  display: none;
}

input.nobutton[type="submit"] {
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  font-size: 100%;
  cursor: pointer;
}

input:-webkit-autofill {
  background-color: #112E3C !important;
  background-image: none;
  color: #fff !important;
}

input[type]:disabled {
  background: transparent;
  border: none;
}

input[type=submit],select, button {
  font-size: 100%;
  color: inherit;
  background-color: transparent;
  border: none;
  margin: 0 0.2rem;
}

select {
  border: 1px groove #f2f3f5;
  option {
    background-color: #234254;
  }
}
