// Definition of all the variable style and objects

// Fonts ---------------------
@charset "UTF-8";
@font-face {
  font-family: 'drifttype';
  src: url('../../fonts/drifttype.ttf') format('truetype');
}
@font-face {
  font-family: 'tt';
  src: url('../../fonts/travelingtypewriter.ttf') format('truetype');
}
// General definitions -------
$fonts:                       'comic', Geneva CE, Helvetica !default;
$base-font-color:             #0055FF;

// Header --------------------
$main-title:                  'drifttype', $fonts;
$main-stitle:                 'tt', $fonts;
$cart-img:                    url(../../images/cart.png);
$logo:                        url(../../images/logo.png);

// Body ----------------------
$background-img:              url(../../images/background.jpeg);
$background-color:            #000;
